.view-transitions-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .btn {
    max-width: 100px;
    margin-top: 5px;
  }
}

.view-transitions-types {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.view-transitions-type {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;

  &:hover {
    .view-transitions-type-title {
      transition: color, border, 0.35s ease-in-out;
      text-decoration: underline;
      color: var(--pink-600);
    }
  }
}

.view-transitions-type-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 10px;
}

.view-transitions-type-card {
  height: 400px;
  flex: 1;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--gray-200);
}

.view-transitions-type-card:hover {
  transform: translateY(-4px);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100px);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;
}

::view-transition-old(root) {
  animation: 350ms cubic-bezier(0.3, 0, 0.7, 1) both fade-out,
    1200ms cubic-bezier(0.16, 1, 0.3, 1) both slide-to-left;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform, opacity;
}

::view-transition-new(root) {
  animation: 800ms cubic-bezier(0, 0, 0.2, 1) 300ms both fade-in,
    1200ms cubic-bezier(0.16, 1, 0.3, 1) both slide-from-right;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform, opacity;
}

@view-transition {
  navigation: auto;
}
